@import "../omarchy/current/theme/waybar.css";

* {
  background: transparent;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 12px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#clock {
}

#workspaces button {
  all: initial;
  margin: 0 1.5px;
  min-width: 9px;
  padding: 0 6px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#custom-omarchy,
#custom-update,
#pulseaudio,
#battery,
#cpu {
  min-width: 12px;
  margin: 0 7.5px;
}

#tray {
  margin-right: 16px;
}

#bluetooth {
  margin-right: 17px;
}

#network {
  margin-right: 13px;
}

#custom-expand-icon {
  margin-right: 18px;
}

tooltip {
  background: @background;
  color: @foreground;
  border: 1px solid alpha(@foreground, 0.25);
  border-radius: 8px;
  padding: 2px;
}

tooltip label {
  background: transparent;
  color: @foreground;
  padding: 4px 8px;
}

#custom-update {
  font-size: 10px;
}

.hidden {
  opacity: 0;
}


#custom-notification-silencing-indicator,
#custom-screenrecording-indicator,
#custom-idle-indicator {
  padding-bottom: 1px;
  margin-left: 5px;
  margin-right: 0;
  min-width: 12px;
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}

#custom-voxtype {
  margin: 0 0 0 7.5px;
  min-width: 12px;
}

#custom-voxtype.recording {
  color: #a55555;
}

#custom-notification-silencing-indicator.active,
#custom-idle-indicator.active {
  color: #a55555;
}

#custom-weather {
  margin-right: 7.5px;
  margin-left: 7.5px;
}

#custom-weather.unavailable {
  min-width: 0;
  padding: 0;
  margin: 0;
}
